.Landing{
    /* height:calc(100vh + 5rem); */
    min-height:calc(auto + 5rem);
    text-align: center;
    /* color:white; */
}
#name{
    font-size: 400%;
}

.headshot{
    margin:4rem;
    margin-bottom:2rem;
    height: auto;
    width:30%;
}
.sub-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 3% 20%;
    letter-spacing: .1rem;
}
.svg{
    height:4rem;
    margin:0px 1.5rem;
    margin-bottom:3rem;
    transition:.7s;
    opacity:.5;

}
.svg:hover{
    opacity: 1;
}